@model flight_booking_website.BookingsTbl

<tr>
    <td><input type="checkbox" name="bookingIds" id="bookingIds" value="@Model.Id" /></td>
    <td>@Model.Id</td>
    <td>@Model.Outbound_Departure_Airport</td>
    <td>@Model.Outbound_Departure_Time</td>
    <td>@Model.Outbound_Arrival_Airport</td>
    <td>@Model.Outbound_Arrival_Time</td>
    <td>@Model.Return_Departure_Airport</td>
    <td>@Model.Return_Departure_Time</td>
    <td>@Model.Return_Arrival_Airport</td>
    <td>@Model.Return_Arrival_Time</td>
    <td>@Model.Name</td>
    <td>@Model.Age</td>
    <td>@Model.Phone_Number</td>
    <td>@Model.Mobile_Number</td>
    <td>@Model.Email_Address</td>
    <td>@Model.Number_of_Passengers</td>
    <td>@Model.Passenger_1_Age</td>
    <td>@Model.Passenger_2_Age</td>
    <td>@Model.Passenger_3_Age</td>
</tr>
